<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"wp--skip-link--target","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main id="wp--skip-link--target" class="wp-block-group">
<!-- wp:pattern {"slug":"kindly/hero"} /-->

<!-- wp:pattern {"slug":"kindly/service-times"} /-->

<!-- wp:pattern {"slug":"kindly/mission"} /-->

<!-- wp:pattern {"slug":"kindly/activities"} /-->

<!-- wp:pattern {"slug":"kindly/serve"} /-->

<!-- wp:pattern {"slug":"kindly/outreach"} /-->

<!-- wp:pattern {"slug":"kindly/contact"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
